<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap Demo</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <h1>Bem-vindo!</h1>
    <p>O Raspberry Pi Pico W está conectado, com o IP {{ip_address}}</p>
    <h2>Temperatura: <span id="message"></span></h2>
    <br/>
    <div class="btn-group" role="group" aria-label="Modo">
      <button type="button" class="btn btn-primary" id="on">On</button>
      <button type="button" class="btn btn-danger" id="off">Off</button>
      <button type="button" class="btn btn-secondary" id="auto">Auto</button>
    </div>
    <h2>Status do LED: {{led_status}}</h2>
    
    <div id="autoControl" style="display: none;">
      <h3>Controle de Temperatura Automático</h3>
      <label for="tempRange">Temperatura Desejada:</label>
      <input type="range" class="form-range" id="tempRange" min="10" max="40" step="1">
      <p id="tempValue">Temperatura: </p>
      <button type="button" class="btn btn-primary" id="setTempBtn">Definir</button>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.0/socket.io.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   <script type="text/javascript" charset="utf-8">

    $(document).ready(function() {

 var socket =io.connect('http://' + document.domain + ':' + location.port);
 socket.on('connect', function() {
  socket.emit('my event', {data: 'I\'m connected!'});
});
 
 document.getElementById("on").addEventListener("click", function() {
       
        socket.emit("ledControl", "on");
    })

    document.getElementById("off").addEventListener("click", function() {
        
        socket.emit("ledControl", "off");
    })



    
   

    /*
    document.getElementById("join-btn").addEventListener("click", function() {
        let username = document.getElementById("username").value;

        socket.connect();

        socket.on("connect", function() {
            socket.emit("user_join", username);
        })

        document.getElementById("chat").style.display = "block";
        document.getElementById("landing").style.display = "none";
        document.getElementById("controls").style.display = "inline";
    })*/
    socket.on('message', function(data) {
      console.log('Received message:', data);
      document.getElementById('message').innerText = data;
    });
  
  });
</script>
</body>
</html>
